.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
    text-align: center;
    color: #039e27;
}
h2{
    text-align: left;
    text-decoration:underline;
    font-family: monospace;
    color: white;
}
body{
    background-color: black;
    background-image: url(imagens/pacman.gif);
    background-size: cover;
}
.cente{
  margin-left: auto;
  margin-right: auto;
  background: url(imagens/wall.jpg) 50px 20px;
  background-size: 100px 100px;
}
.cent{
  margin-left: auto;
  margin-right: auto;
  background: url(imagens/earth.gif) center top no-repeat;
    background-size: 150px 100px;
}
#oldgifs{
  font-family: cursive;
  color: black;
}
video{
  position: relative;
  left: 100px;
  top: -1100px;
}
#bucket{
  position: absolute;
  left: -350px;
  
}
#top{
  position: relative;
  left: 800px;
  background-image: url(imagens/chicken.gif);
  border-style: outset;
}
#bar{
  position: relative;
  left: 500px;
}
#check{
position: relative;
left: 50px;
top: -370px;
}





