ul {
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
  list-style-type: none;
  margin: auto;
  padding: 50px;
}
li a{
  font-size: 50px;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
    font-size: 20px;
    text-align: center;
    color: #000;
}
h2{
    text-align: left;
    text-decoration:underline;
    font-family: monospace;
    color: white;
}
h3{
  color: green;
  font-size: 25px;
}
body{
  background-color: black;
  background-size:contain;
  background-position:center;
}
.cente{
  margin-left: auto;
  margin-right: auto;
  background: url(imagens/wall.jpg) 50px 20px;
  background-size: 100px 100px;
}
.cent{
  margin-left: auto;
  margin-right: auto;
  background: url(imagens/earth.gif) center top no-repeat;
  background-size: 150px 100px;
}
#oldgifs{
  font-family: cursive;
  color: black;
}
.top{
  display: flex;
  border-style: outset;
  border:red;
}
.barra{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#check{
position: relative;
left: 50px;
top: -370px;
}
.bucket{
  display: flex;
  margin-right: auto;
}
.topten{
  background-color: red;
  width: 450px;
  border: 5px solid gray;
  margin-right: 53px;
  float: left;
}
.musica{
  display: flex;
  height: auto;
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: yellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.runescape{
  margin-right: auto;
  margin-left: auto;
  height: auto;
  max-height:800px;
  max-width: 600px;
  padding: 20px;
}
#osrs_text{
  font-size: 20px;
  color: green;
}

#botaoBackground{
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nomeUser{
  text-align: right;
  padding-right: 10px;
}

.resultado
{
    font-size: 25px;
    color: red;
}


.calculadora
{
  display: flex;
  flex-direction: column;
  float: right;
  bottom: 0px;
}